# OS & IDE
.DS_Store
.vscode/
*.swp
*.swo

# Python & Environments
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
ENV/
.python-version

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/
Notes.ipynb

# Large Data & Project Folders
/ML/
FlaskCourse/
UdemyCourse/
ddos_dataset/
ddos_dataset_parquet/
transformed_ddos_dataset_from_csv/
transformed_ddos_dataset_from_parquet/
1_0_176_98_transformed_ddos_dataset_pandas.csv
geoip2-ipv4.csv

MLflow/*
!MLflow/Tasks/
*/.env
*/*/mlartifacts
mlflow.db




# Logs & Data
*.log
*.csv.metadata

Docker/DETAILED_EXPLANATION.md