# Ignore everything in this folder
*

# ...except the Task folder and its contents
!.gitignore
!Tasks/
!Tasks/**

# ...but keep the local airflow config out of git
Tasks/config/airflow.cfg
__pycache__/
logs/
.env